<nav>
    <h3>
 <i class="fa-brands fa-rocketchat"></i>
        BEE CHAT 
    </h3>
    <ul>
     <li><a href="/home">Home</a></li>
     <li><a href="/signup">Registration</a></li>
     <li><a href="/login">Login</a></li>
     
    </ul>
</nav>